
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd; margin-bottom: 20px;">
    <ul class="navbar-nav" style="margin-left: 80px;">
    <li class="nav-item active" style="padding-right:40px;"><a class="nav-link" routerLinkActive="active" class="nav-link" routerLink="employees"><b style="color:purple; font-size:20px">EMPLOYEE LIST</b></a></li>
    <li class="nav-item active"><a class="nav-link" routerLinkActive="active" class="nav-link" routerLink="addemp"><b style="color:purple; font-size:20px">ADD EMPLOYEE</b></a></li>
    </ul>
</nav>

<!--<h1 class="text-center">{{title}}</h1>-->
<div class="container">
    <router-outlet></router-outlet>
</div>
